#login-page {
  text-align: center;
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  label {
    display: none;
  }
  input {
    padding: 0.5rem;
  }
  button {
    padding: 0.3rem 2rem;
    border-radius: 0.2rem;
  }
}
