.rich-text-toolbar {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  button:not(.btn) {
    padding: 0.5rem;
    border: 1px solid;
    cursor: pointer;
    opacity: 0.5;
    &.is-active,
    &:hover {
      opacity: 1;
    }
  }
}

.rich-text-link-input {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;

  input {
    padding: 0.5rem;
    border: 1px solid;
    outline: none;
    flex: 1;
  }

  button {
    padding: 0.5rem 1rem;
    border: 1px solid;
    background: none;
    cursor: pointer;
  }
}

form .rich-text-content {
  min-height: 150px;
  padding: 1rem;
  border: 1px solid;
}

.rich-text-content {
  outline: none;
  p {
    margin-bottom: 1rem;
    line-height: 1.1rem;
  }

  ul,
  ol {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: number;
  }

  li {
    margin: 0;
    padding: 0;
    line-height: 1.1rem;
    p {
      margin: 0;
      padding: 0;
      display: inline;
    }
  }

  a {
    text-decoration: underline;
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }

  u {
    text-decoration: underline;
  }

  s {
    text-decoration: line-through;
  }
}
