body {
  font-family: var(--font-clash);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-chillax);
  text-transform: uppercase;
  font-variation-settings: "wght" 700;
  margin: 1rem 0;
}

h1 {
  font-size: 4rem;
  line-height: 3.6rem;
}

h2 {
  font-size: 3rem;
  line-height: 2.6rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.6rem;
}

h4 {
  font-size: 1rem;
  line-height: 0.8rem;
}

h5 {
  font-size: 0.9rem;
  line-height: 0.8rem;
}

h6 {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

header {
  margin-bottom: 1rem;
}

header {
  display: flex;
}
