:root {
  --primary-color: var(--color-base-content);
  --background: var(--color-base-100);
  --background-light: var(--color-base-300);
  --primary-color-light: var(--color-accent-content);
  --background-lighter: var(--color-base-200);
  --primary-color-lighter: var(--color-base-content);
  --secondary-color: var(--color-success);
  --tertiary-color: var(--color-secondary-content);
  --quaternary-color: var(--color-accent);
  --quinary-color: var(--color-warning);
  --senary-color: var(--color-info);
  --tooltip-bg: var(--color-success);
  --tooltip-color: var(--color-success-content);
  color-scheme: light;

  .moon-phase-icon svg {
    background: var(--primary-color);
    color: var(--background);
  }

  .header-icon {
    color: var(--color-success);
  }
}

html[data-theme="dim"] {
  --primary-color: var(--color-base-content);
  --background: var(--color-base-100);
  --background-light: var(--color-base-300);
  --primary-color-light: var(--color-neutral-content);
  --background-lighter: var(--color-base-200);
  --primary-color-lighter: var(--color-base-content);
  --secondary-color: var(--color-primary-content);
  --secondary-color: var(--color-success);
  --tertiary-color: var(--color-secondary);
  --quaternary-color: var(--color-accent);
  --quinary-color: var(--color-warning);
  --senary-color: var(--color-info);
  --tooltip-bg: var(--color-accent);
  --tooltip-color: var(--color-accent-content);
  color-scheme: dark;

  .moon-phase-icon svg {
    background: transparent;
    color: var(--primary-color);
  }

  .header-icon {
    color: var(--color-primary);
  }
}

html {
  background: var(--background);
  color: var(--primary-color);
}

/* forms */

textarea,
select,
input,
form .rich-text-content,
.rich-text-toolbar button.is-active {
  border-color: var(--primary-color);
  background-color: var(--background);
}

.checkbox::before {
  background: var(--primary-color);
}

html.dark select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='oklch(90%25 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

button.btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
  background: var(--background);
  box-shadow: none;
  &:hover,
  &:active {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--background);
  }
}

/* drawers */

.drawer-side {
  ul.menu,
  .actions-drawer {
    background: var(--background-light);
    color: var(--primary-color-light);
  }
}

/* various boxes */

.group-section h2 {
  background: var(--background-light);
  border-color: var(--primary-color-light);
}

.todo-description {
  border-color: var(--primary-color-lighter);
  background: var(--background-lighter);
}

.wishListCategory-autocomplete {
  background: var(--background-light);
  color: var(--primary-color);
  border-color: var(--primary-color-lighter);
  li:hover {
    background: var(--background-lighter);
  }
}

/* tooltips */

.tooltip > .tooltip-content,
.tooltip::before,
.tooltip::after {
  color: var(--tooltip-color);
  background-color: var(--tooltip-bg);
}
