main:has(#container-notes) {
  text-align: center;
}

.notes-container {
  text-align: left;
  display: grid;
  gap: 4rem 2rem;
  grid-template-columns: 1fr;
}

/* tablet */
@media (min-width: 640px) {
  .notes-container {
    grid-template-columns: 1fr 1fr;
  }

  /* 3 column sections */
  .notes-container:has(> .notes-section:first-of-type:nth-last-of-type(3)) {
    grid-template-columns: 1fr 1fr !important;
  }

  /* 2 column sections */
  .notes-container:has(> .notes-section:first-of-type:nth-last-of-type(2)) {
    grid-template-columns: 1fr 1fr !important;
  }

  /* 1 column sections */
  .notes-container:has(> .notes-section:only-of-type) {
    grid-template-columns: 1fr !important;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* small desktop */
@media (min-width: 900px) {
  .notes-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* 3 column sections */
  .notes-container:has(> .notes-section:first-of-type:nth-last-of-type(3)) {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  /* 2 column sections */
  .notes-container:has(> .notes-section:first-of-type:nth-last-of-type(2)) {
    grid-template-columns: 1fr 1fr !important;
  }
  /* 1 column sections */
  .notes-container:has(> .notes-section:only-of-type) {
    grid-template-columns: 1fr !important;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* large desktop */
@media (min-width: 1100px) {
  .notes-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  /* 3 column sections */
  .notes-container:has(> .notes-section:first-of-type:nth-last-of-type(3)) {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  /* 2 column sections */
  .notes-container:has(> .notes-section:first-of-type:nth-last-of-type(2)) {
    grid-template-columns: 1fr 1fr !important;
  }
  /* 1 column sections */
  .notes-container:has(> .notes-section:only-of-type) {
    grid-template-columns: 1fr !important;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.notes-section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  align-content: start;
  gap: 1rem;
  grid-row: span 2;
  grid-template-rows: subgrid;
  * {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

.notes-section h3 {
  text-align: left;
  margin-bottom: 2rem;
  &:has(button) {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    button {
      opacity: 0;
      .todo-section h3:hover & {
        opacity: 1;
      }
    }
  }
}

.notes-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.note-header {
  display: flex;
  gap: 0.5rem;
  justify-self: start;
  justify-content: start;
  font-style: italic;
  font-size: 0.8rem;
  flex: 1;
  .note-action {
    opacity: 0;
  }
  &:hover .note-action {
    opacity: 1;
  }
}

@media (hover: none) and (pointer: coarse) {
  .note-action {
    opacity: 1;
  }
}

.note-context {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
