@import "tailwindcss";
@plugin "daisyui" {
  themes: retro --default, dim --prefersdark;
}
@plugin "@tailwindcss/forms";

@import "./color.css";
@import "./type.css";
@import "./forms.css";
@import "./rich-text.css";

/* handle transitions */

:root {
  --transition-time: 1000ms;
  --transition-time-fast: 100ms;
}

/* layout */

body {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  align-content: start;
  gap: 0;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  @media screen and (min-width: 1600px) {
    max-width: 1600px;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: start;
  padding: 1rem;
  > *:first-child {
    justify-self: start;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  > *:nth-child(2) {
    justify-self: end;
  }
}


.header-icon {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.moon-phase-icon svg {
  border-radius: 50%;
}

hr {
  width: 80%;
  margin: 3rem auto;
}

.drawer-button {
  cursor: pointer;
}

.drawer-side {
  z-index: 5;
  ul.menu {
    min-width: 320px;
  }
  .actions-drawer {
    width: 100%;
    @media (min-width: 500px) {
      width: 500px;
    }
  }
  h3 {
    margin: 0;
  }
  a:not(.editor-link) {
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
    padding-left: 0.2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.2rem;
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
      background-color: transparent !important;
      color: inherit !important;
    }
  }
  button:not(.btn) {
    padding: 0;
    margin: 0;
    &:hover {
      background: transparent;
    }
  }

  .main-menu-header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  li:last-of-type {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    flex-direction: initial;
    #settings-link {
      padding: 0;
    }
  }
}

@import "./page-login.css";
@import "./page-todo.css";
@import "./page-practice.css";
@import "./page-notes.css";
@import "./settings.css";
